# Project 5 – What would it take to Meet the Paris Agreement Energy Production Targets? 

* Student name: Greg Osborne
* Student pace: self paced / part time
* Scheduled project review date/time: 5/1/23
* Instructor name: Morgan Jones
* Blog post URL: https://medium.com/@gregosborne

# Business Understanding
## Stakeholder: [Intergovernmental Panel on Climate Change (IPCC)](https://www.ipcc.ch/)

## Background: 
In 1988, NASA scientist Dr. James E. Hansen gave the US Senate, and the world, an [alarming wake-up call](https://www.nytimes.com/1988/06/24/us/global-warming-has-begun-expert-tells-senate.html?unlocked_article_code=7ICo0v4G5DKBY6-D1ldNLgeAT9vW_mDX1QXS8YQ8i1YFIU3stRPnNlVeQRegb-Zc5QG0yg7---7z0LuWRErszApcfFFpSdunINDInNkKoPpmCGDsElX6EOXI963OLfCmiSP6MPB4lKdmpCf3W9Ve7rFqSTD3bYd96NP8PKQ0a__Rs9AjVg0q_hN9pOYvl9FaFvAZk4_GB5-5ZyNAxz2_IbnUa9dPvBTycXkSYL8VuS8MgKwm3cEHj-vX-wKf4zbdL-4JZOmApEIzpkAL8sfjzMNsTREmHooyk181rQmVZ9hwp-Oe_auNvXX2rNwt2YLRGQCTo2G9l5mAAc6on7ZwxJZ2pX8tARc9TlgguMB7nMIM&smid=url-share). Dr. Hansen told Senators that *The Greenhouse Effect* was not a threat of the far future, but a reality that had made the first five months of that year the hottest on record since measurements began 130 years earlier. Natural cycles of the Earth's atmosphere did not create the heat, pollution did, specifically Greenhouse Gas (GHG) emissions. [Alarmed](https://unfoundation.org/blog/post/the-historic-1988-senate-climate-hearing-30-years-later/#:~:text=At%20this%20hearing%20in%201988,manage%20and%20mitigate%20their%20impacts.), the UN created the Intergovernmental Panel on Climate Change (IPCC), a global body of scientists who review the best studies on the causes and effects of climate change and summarizes the information for the world's national leaders.

Despite the warning and efforts of the IPCC, the world continued to pump out greenhouse gases. [More than half of all carbon dioxide (CO2) emissions emitted by mankind](https://ieep.eu/news/more-than-half-of-all-co2-emissions-since-1751-emitted-in-the-last-30-years/) occurred since that fateful Senate hearing, even as scientists have learned more about the [dangers](https://www.nytimes.com/2015/06/23/science/risk-of-extreme-weather-from-climate-change-to-rise-over-next-century-report-says.html?unlocked_article_code=DSbwaXvX1OQ_GAzkANKHgMQlmUKI4erOh8WNwN8TGr_qf_LdjxBKsVdlgKsF6IN9RFD2DRxek1GIpO8tY8sVmL0XlDQqwxrlyH1Y-giQ9VrIvJdQdqPdoA8BJ-DnQrFrheUhWsOwDncXPziIX7xTGWv_uZahjAg7SOzyqrVe4BRHdDrU_jJsOW3cE1fxwKJya8UKUMmheMX7QOR0jKLRORr8BQat0CJFbU0n23pdmo62mW-qhlWIyzTy-rEHDpcT9Aj3WBM6O9jdFoa348cW5OD-TNc0P8YTvMzCsQ0Hm7lmyEnXK-gRcvK-6ShKaqS_q_RcTuayoz4ipMzxtlLZhHDkIYELZWu6vURF3ddIXKyDkXVDx84w40x6G1V95wSCyx88rtxDYIUIBPwVNhInII_MmrokhNp_fz9S&smid=url-share) the crisis brings to humanity, and how much worse it will be in the future.

To encourage nations to change, the UN held the 2015 United Nations Climate Change Conference near Paris. 195 nations, along with the European Union came to participate. Protests were banned, so people [laid out their shoes to show their presence](https://www.usatoday.com/story/news/nation-now/2015/11/30/lines-empty-shoes-send-powerful-message-paris/76572552/). Days of negotiations took place, but the nations reached a consensus on December 12, 2015. The historic [Paris Agreement](https://apnews.com/article/climate-climate-change-john-kerry-paris-archive-81dabae32cb8463b86bd85d762da9e6d) legally bound the nations of the world to limit global warming to well below 2 °C (3.6 °F) over preindustrial levels. 

The Paris Agreement also commissioned the IPCC to review the effects of climate change at 1.5 °C (2.7 °F). [The IPCC released a report in 2018](https://www.ipcc.ch/sr15/chapter/spm/), detailing the pestilence of a warmer world. These horrors are beyond the scope of this analysis, but one of the more alarming discoveries is that warming will cause coral bleaching of 80% of the world's coral reefs, a major food source of the world's oceans. The report led to the [largest climate protest in history](https://www.forbes.com/sites/ceciliarodriguez/2019/09/21/biggest-ever-climate-protest-in-photos-greta-thunberg-and-the-worlds-youth-demand-action/?sh=63a91c08ab4d). People in the streets demanded their governments protect the future by making investments and passing policies to cut GHG emissions. 

Sadly, even with drastic cuts to emissions, it is unlikely the average temperature will stay lower than 1.5 °C over pre-industrial levels. As alarming as that is, going beyond 1.5 °C would be even worse.

## Problem: 

To limit climate change to no greater than 1.5 °C over pre-industrial levels, the IPCC's 2018 special report concluded that GHG emissions must ["decline by about 45% from 2010 levels by 2030 (40–60% interquartile range), reaching net zero around 2050."](https://www.ipcc.ch/sr15/chapter/spm/#article-spm-c) Today, in 2023, we are [already at 1.1 °C (2 °F)](https://earthobservatory.nasa.gov/world-of-change/global-temperatures). With GHG emissions as they are, scientists anticipate this average to grow by about 0.2 °C per decade unless GHG emissions are cut.

The IPCC needs to know if nations are on track to cut their GHG emissions within the proposed time frame. If countries are not meeting their targets, the IPCC needs to educate them on how to cut GHG emissions as soon as possible.

GHG emissions occur in multiple sectors of the economy. Accounting for emissions across all sectors is beyond the scope of this report. Instead, I will analyze how electricity generation can meet the reduction targets set by the IPCC in 2018. Electricity generation refers to power plants creating electricity to distribute across power lines to residential and business locations. Electricity sources include fossil fuel methods that emit GHG and sources that do not emit GHG, like nuclear power and renewables. Fossil fuel sources include burning coal, oil, and natural gas, while renewables include wind turbines, solar panels, and hydroelectrical. Nuclear energy is not considered renewable but is GHG emission-free. Since electricity generation contributes to [about 40% of all global emissions](https://www.iea.org/data-and-statistics/charts/global-energy-related-co2-emissions-by-sector), reducing its GHG emissions will potentially be larger than reducing emissions in any other sector.

## Time-Series Modeling

This analysis requires projecting multiple considerations into the future. These include the following:

**1. Increase in Electricity Demand**

In addition to continued development in emerging economies, giving their population greater access to electricity, the world's demand for electricity will rise as we cut emissions across all sectors. The poster-child example of this is the automobile. Car manufacturers making up a quarter of global sales have pledged to [cease production of internal-combustion-engine cars](https://www.caranddriver.com/news/a38213848/automakers-pledge-end-gas-sales-2040/) within the IPCC's timeline. Therefore, electricity will power a larger portion of society's small-distance transportation needs than ever before, creating greater demand.

**2. Construction Rate of Clean Power Generation**

Contrary to what the crisis needs, we cannot build a billion wind turbines overnight. We can only build clean energy sources as materials, labor availability, construction time, and politics allow. These factors can be changed as time moves forward, but they must be considered as part of this analysis.

**3. Construction Rate of GHG Power Generation**

Unfortunately, not only are fossil fuels still powering our lifestyles, but several coal-fired power plants are scheduled to be [built in the future](https://www.reuters.com/business/energy/cop26-aims-banish-coal-asia-is-building-hundreds-power-plants-burn-it-2021-10-29/). This analysis must consider the growth of coal power as well.

**4. Average Global Temperature**

This analysis will primarily focus on electricity generation, which is not the only source of GHG emissions. This analysis will also project the rise of global temperature with the proposed changes to electricity generation, and with assumptions across other economic sectors, both business-as-usual and sufficient GHG reduction scenarios.

With all these factors, time-series modeling can assist with projection needs. This project will show the global average temperature with current trends, and propose scenarios for how to get back on track.

## Methodology

The target of the Paris Agreement is a temperature. Rather than set specific emissions goals for certain chemicals, the Paris agreement legally binds nations to limit global warming to well below 2 °C (3.6 °F) over preindustrial levels, ideally 1.5 °C (2.7 °F). The first model will look at all of the natural and man-made factors that influence Earth's average annual temperature and estimate the temperature based on their Effective Radiative Forcing, which is itself a conversion from their concentration in the atmosphere. This will be detailed more later.

The two primary factors that determine the earth's annual temperature are anthropic GHG emissions, and GHG already in the atmosphere. GHG emissions are measured in weight emitted into the atmosphere, and the GHG already in the atmosphere is measured in parts per million, billion or trillion. Using machine learning, I will convert the estimates between GHG emitted to GHG in the atmosphere. To do this, I will create a second time series model with a dependent variable of atmospheric concentration of Greenhouse Gases based on the cumulative and annual total of GHG emitted. 

I will then build multiple time series models to project different SSP scenarios (described below) of GHG emissions into the future based on estimated energy demands and the methods used to generate that energy. The goal will be to decline the emissions to 45% of 2010 levels for just the electricity generation sector alone.

The planned steps I will follow for this project include: 

1. Create a time series model with a target of annual global temperature rise over pre-industrial levels from 1880–2019.The input will be all effective radiative forcing substances in the atmosphere as given by the IPCC. The target data will be Nasa's record of the annual global temperature.
2. Create a model that predicts CO2 and CH4 atmospheric concentrations based on that year's emissions and the cumulative emissions mankind has released into the atmosphere. The primary data to use for the model, with a target of atmospheric concentration, is the [PRIMAP-hist national historical emissions time series](https://zenodo.org/record/7727475#.ZC73QXbMK3A). I will cull a lot of the superfluous data.
3. The above data does not distinguish between electricity generation, transportation, and industrial processes. So, I will use the historic power generation information from [BP](https://www.bp.com/en/global/corporate/energy-economics/statistical-review-of-world-energy.html) plus information on how to estimate CO2 and CH4 emissions for power generation to convert the TWh created per year into weight of CO2 and CH4 into the atmosphere. I will use this number to 1A, Fuel combustion activities, into two separate entities, 1A.1: Energy Industries and 1A.5: Non-specified. Certainly, a bulk of the unspecified category is actually transportation and industry, but defining that is not part of this analysis.
4. Project the model to 2050 based on the estimated rise and follow the SSP analysis for other GHG emitting activities.
5. Through a process of trial and error, figure out how to make the best cuts that are necessary to meet the 45% target by 2030, and then the 0% target by 2050. 
6. Finally, see if the proposed changes combined with other estimated mitigations from other industries in the world will be enough to keep the world below 1.5 °C (2.7 °F). To do this, I'll convert the new emissions data into atmospheric concentrations, then radiative forcing, and finally build temperature models with the new information.

# Table of Contents

<h1>Project 5 – What would it take to Meet the Paris Agreement Energy Production Targets?<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Project-5-–-What-would-it-take-to-Meet-the-Paris-Agreement-Energy-Production-Targets?" data-toc-modified-id="Project-5-–-What-would-it-take-to-Meet-the-Paris-Agreement-Energy-Production-Targets?-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Project 5 – What would it take to Meet the Paris Agreement Energy Production Targets?</a></span></li><li><span><a href="#Business-Understanding" data-toc-modified-id="Business-Understanding-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Business Understanding</a></span><ul class="toc-item"><li><span><a href="#Stakeholder:-Intergovernmental-Panel-on-Climate-Change-(IPCC)" data-toc-modified-id="Stakeholder:-Intergovernmental-Panel-on-Climate-Change-(IPCC)-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Stakeholder: <a href="https://www.ipcc.ch/" target="_blank">Intergovernmental Panel on Climate Change (IPCC)</a></a></span></li><li><span><a href="#Background:" data-toc-modified-id="Background:-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Background:</a></span></li><li><span><a href="#Problem:" data-toc-modified-id="Problem:-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Problem:</a></span></li><li><span><a href="#Time-Series-Modeling" data-toc-modified-id="Time-Series-Modeling-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Time-Series Modeling</a></span></li><li><span><a href="#Methodology" data-toc-modified-id="Methodology-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>Methodology</a></span></li></ul></li><li><span><a href="#Table-of-Contents" data-toc-modified-id="Table-of-Contents-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Table of Contents</a></span></li><li><span><a href="#Python-Libraries" data-toc-modified-id="Python-Libraries-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Python Libraries</a></span></li><li><span><a href="#Prepare-for-Modeling" data-toc-modified-id="Prepare-for-Modeling-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Prepare for Modeling</a></span><ul class="toc-item"><li><span><a href="#Loading-the-Data" data-toc-modified-id="Loading-the-Data-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>Loading the Data</a></span></li><li><span><a href="#Create-Test-/-Train-sets" data-toc-modified-id="Create-Test-/-Train-sets-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span>Create Test / Train sets</a></span><ul class="toc-item"><li><span><a href="#Visualize-the-quantities-of-the-data." data-toc-modified-id="Visualize-the-quantities-of-the-data.-5.2.1"><span class="toc-item-num">5.2.1&nbsp;&nbsp;</span>Visualize the quantities of the data.</a></span></li></ul></li><li><span><a href="#Preparing-Data-For-Analysis" data-toc-modified-id="Preparing-Data-For-Analysis-5.3"><span class="toc-item-num">5.3&nbsp;&nbsp;</span>Preparing Data For Analysis</a></span><ul class="toc-item"><li><span><a href="#Testing-for-bad-data" data-toc-modified-id="Testing-for-bad-data-5.3.1"><span class="toc-item-num">5.3.1&nbsp;&nbsp;</span>Testing for bad data</a></span></li></ul></li><li><span><a href="#Frequency-Distributions" data-toc-modified-id="Frequency-Distributions-5.4"><span class="toc-item-num">5.4&nbsp;&nbsp;</span>Frequency Distributions</a></span></li></ul></li><li><span><a href="#Building-Models" data-toc-modified-id="Building-Models-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Building Models</a></span><ul class="toc-item"><li><span><a href="#Final-Model-Selection" data-toc-modified-id="Final-Model-Selection-6.1"><span class="toc-item-num">6.1&nbsp;&nbsp;</span>Final Model Selection</a></span></li></ul></li><li><span><a href="#Tuning-Models" data-toc-modified-id="Tuning-Models-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Tuning Models</a></span></li><li><span><a href="#Final-Model-And-Analysis" data-toc-modified-id="Final-Model-And-Analysis-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Final Model And Analysis</a></span></li><li><span><a href="#Conclusion" data-toc-modified-id="Conclusion-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>Conclusion</a></span><ul class="toc-item"><li><span><a href="#Limitations-of-Scope-/-Provided-Data" data-toc-modified-id="Limitations-of-Scope-/-Provided-Data-9.1"><span class="toc-item-num">9.1&nbsp;&nbsp;</span>Limitations of Scope / Provided Data</a></span></li><li><span><a href="#Future-Research-Opportunities" data-toc-modified-id="Future-Research-Opportunities-9.2"><span class="toc-item-num">9.2&nbsp;&nbsp;</span>Future Research Opportunities</a></span></li><li><span><a href="#Recommendations" data-toc-modified-id="Recommendations-9.3"><span class="toc-item-num">9.3&nbsp;&nbsp;</span>Recommendations</a></span></li></ul></li></ul></div>

# Python Libraries

In [1]:
# DataFrames and computation
import pandas as pd
import numpy as np

# Graphing
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# Multivariate Time Series
from pycaret.regression import *

#from plotly import graph_objs as go
#from collections import Counter
#import plotly.express as px
#from palettable.colorbrewer.qualitative import Pastel1_7

# Import the Tokenize library
#from nltk.tokenize import RegexpTokenizer

# For Frequency Distributions
#from nltk import FreqDist
#from matplotlib.ticker import MaxNLocator

# For Wordclouds
#from wordcloud import WordCloud
#from wordcloud import ImageColorGenerator

# For stopwords
#import nltk
#from nltk.corpus import stopwords

# For stemming words
#from nltk.stem.snowball import SnowballStemmer

# The Train/Test Split
#from sklearn.model_selection import train_test_split

# Import the TfidfVectorizer class
#from sklearn.feature_extraction.text import TfidfVectorizer

# Bag of Words
#from sklearn.feature_extraction.text import CountVectorizer

# Word2Vec
#import gensim

# For Min/Max Scaling
#from sklearn.preprocessing import MinMaxScaler

# Scores
#from sklearn.model_selection import cross_val_score
#from sklearn.metrics import precision_score, recall_score, accuracy_score
#from sklearn.metrics import f1_score
#from sklearn.metrics import classification_report

# Multinomial Naive Bayes
#from sklearn.naive_bayes import MultinomialNB

# Logistic Regression Model Classifier
#from sklearn.linear_model import LogisticRegression

# Support Vector Machine
#from sklearn import svm

# Random Forest Classifier
#from sklearn.ensemble import RandomForestClassifier

# For XGBoost Classifier
#from xgboost import XGBClassifier

# The Confusion Matrix
#from sklearn.metrics import confusion_matrix
#from sklearn.metrics import ConfusionMatrixDisplay

# For Hyperparameter Tuning
#from sklearn.model_selection import GridSearchCV

# Setting DataFrame Display settings
pd.set_option("display.max_columns", None)

# Formatting decimals to show three numbers after the point.
#pd.options.display.float_format = '{:,.3f}'.format

C:\Users\g_osb\anaconda3\envs\learn-env\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.0
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

# Prepare for Modeling
## Loading the Data

In [18]:
pd.set_option("display.max_rows", 6)
df_hist_deg_c_mod = pd.read_csv(
    "Data/Export/df_hist_deg_c_mod.csv",
    encoding='ANSI')

from datetime import datetime as dt
df_hist_deg_c_mod['Year'] = pd.to_datetime(df_hist_deg_c_mod.Year, format='%Y')

df_hist_deg_c_mod.index = df_hist_deg_c_mod['Year']
#df_hist_deg_c_mod.drop(columns = 'Year', inplace = True)

df_hist_deg_c_mod

,Year,Global Annual Average Anomaly (°C),Temp Change (°C),Total (W/m²),CO2 (W/m²),CH4 (W/m²),N2O (W/m²),Minor GHG (W/m²),O3 (W/m²),Stratospheric H2O (W/m²),Contrails (W/m²),Aerosol Radiation (W/m²),Aerosol Cloud (W/m²),Snow (W/m²),Land Use (W/m²),Volcanic (W/m²),Solar (W/m²)
Year,,,,,,,,,,,,,,,,,
1851-01-01,1851-01-01,0.048824,0.1075,0.340734,0.142307,0.049486,0.007656,8.228277e-08,0.031016,0.004548,0.000000,-0.005063,-0.063395,0.006158,-0.031907,0.197859,0.002068
1852-01-01,1852-01-01,0.078824,0.0300,0.341728,0.144956,0.049947,0.007954,8.533412e-08,0.032032,0.004591,0.000000,-0.004535,-0.059718,0.006301,-0.032610,0.191554,0.001257
1853-01-01,1853-01-01,0.046324,-0.0325,0.150538,0.147334,0.050708,0.008331,8.839851e-08,0.033049,0.004661,0.000000,-0.005117,-0.063694,0.006460,-0.033313,0.010986,-0.008868
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-01-01,2017-01-01,1.178824,-0.0850,2.751112,2.088686,0.537665,0.202033,4.046273e-01,0.459667,0.049419,0.056725,-0.211978,-0.850840,0.081292,-0.199332,0.150614,-0.017467
2018-01-01,2018-01-01,1.101324,-0.0775,2.783340,2.122080,0.540821,0.205654,4.066049e-01,0.467067,0.049709,0.057400,-0.215540,-0.849968,0.080728,-0.199666,0.139917,-0.021468
2019-01-01,2019-01-01,1.226324,0.1250,2.838193,2.156278,0.543983,0.208463,4.080644e-01,0.474467,0.050000,0.057535,-0.215562,-0.842778,0.080000,-0.200000,0.139917,-0.022173

In [19]:
# df_hist_deg_c_mod['Year']
pd.to_datetime(df_hist_deg_c_mod.Year, format='%Y')

Year
1851-01-01   1851-01-01
1852-01-01   1852-01-01
1853-01-01   1853-01-01
                ...
2017-01-01   2017-01-01
2018-01-01   2018-01-01
2019-01-01   2019-01-01
Name: Year, Length: 169, dtype: datetime64[ns]

In [30]:
df_hist_co2_ppm_mod = pd.read_csv(
    "Data/Export/df_hist_co2_ppm_mod.csv",
    encoding='ANSI')

df_hist_co2_ppm_mod['Year'] = pd.to_datetime(
    df_hist_co2_ppm_mod.Year, format='%Y')
df_hist_co2_ppm_mod.index = df_hist_co2_ppm_mod['Year']

#df_hist_co2_ppm_mod.drop(columns = 'Year', inplace = True)

df_hist_co2_ppm_mod = df_hist_co2_ppm_mod.iloc[1:-7]
df_hist_co2_ppm_mod['Change in CO2 (ppm)'] = df_hist_co2_ppm_mod['CO2 (ppm)'].diff()
df_hist_co2_ppm_mod = df_hist_co2_ppm_mod.iloc[1:]

In [21]:
df_hist_ch4_ppb_mod = pd.read_csv(
    "Data/Export/df_hist_ch4_ppb_mod.csv",
    encoding='ANSI')
df_hist_ch4_ppb_mod.index = df_hist_ch4_ppb_mod['Year']
df_hist_ch4_ppb_mod.drop(columns = 'Year', inplace = True)

df_hist_ch4_ppb_mod

,CH4 (W/m²),CH4 (ppb),EARTH - CH4 (tot) (Gg/yr),EARTH - CH4 (fuel) (Gg/yr)
Year,,,,
1750,0.000000,731.406006,26929.204,5398.4297
1751,0.000508,731.838196,27003.076,5412.5472
1752,0.001016,732.899963,27076.927,5426.6235
...,...,...,...,...
2019,0.543983,NaN,359266.870,13407.7430
2020,NaN,NaN,361919.030,13219.3570
2021,NaN,NaN,365021.310,13432.3140

## Create Test / Train sets

In [32]:
# 90% Train / Test split
df_hist_deg_c_mod_train = df_hist_deg_c_mod.iloc[:153,:]
df_hist_deg_c_mod_test  = df_hist_deg_c_mod.iloc[153:,:]

df_hist_deg_c_mod_train.shape, df_hist_deg_c_mod_test.shape

((153, 17), (16, 17))

In [34]:
# 90% Train / Test split
df_hist_co2_ppm_mod_train = df_hist_co2_ppm_mod.iloc[:246,:]
df_hist_co2_ppm_mod_test  = df_hist_co2_ppm_mod.iloc[246:,:]

df_hist_co2_ppm_mod_train.shape, df_hist_co2_ppm_mod_test.shape

((246, 6), (17, 6))

In [24]:
df_hist_ch4_ppb_mod_train = df_hist_ch4_ppb_mod.loc[:1995,:]
df_hist_ch4_ppb_mod_test  = df_hist_ch4_ppb_mod.loc[1996:,:]

df_hist_ch4_ppb_mod_train.shape, df_hist_ch4_ppb_mod_test.shape

((246, 4), (26, 4))

In [48]:
# initialize setup
s = setup(data = df_hist_deg_c_mod_train, test_data = df_hist_deg_c_mod_test, 
          target = 'Temp Change (°C)',
          fold_strategy = 'timeseries', 
          numeric_features = ['Total (W/m²)'], fold = 3, 
          transform_target = True, session_id = 123)

In [49]:
best = compare_models(sort = 'MAE')

In [43]:
# initialize setup
s = setup(data = df_hist_co2_ppm_mod_train, 
          test_data = df_hist_co2_ppm_mod_test, 
          target = 'Change in CO2 (ppm)',
          fold_strategy = 'timeseries', 
          numeric_features = ['EARTH - CO2 (tot) (Gg/yr)'], fold = 3, 
          transform_target = True, session_id = 123)

In [44]:
best = compare_models(sort = 'MAE')

In [45]:
predict_future = predict_model(best, data = df_hist_co2_ppm_mod_test)
predict_future

,Year,CO2 (W/m²),CO2 (ppm),EARTH - CO2 (tot) (Gg/yr),EARTH - CO2 (fuel) (Gg/yr),Change in CO2 (ppm),prediction_label
Year,,,,,,,
1998-01-01,1998-01-01,1.510301,365.932953,25696604.0,21932284.0,2.681000,8.270503
1999-01-01,1999-01-01,1.542451,367.844971,25949898.0,22260538.0,1.912018,NaN
2000-01-01,2000-01-01,1.560589,369.124969,26657292.0,22898602.0,1.279999,NaN
2001-01-01,2001-01-01,1.584601,370.673004,26501812.0,23044174.0,1.548035,NaN
2002-01-01,2002-01-01,1.615021,372.834991,27400218.0,23512040.0,2.161987,NaN
2003-01-01,2003-01-01,1.653405,375.410980,28477104.0,24704404.0,2.575989,NaN
2004-01-01,2004-01-01,1.680655,376.987000,30005502.0,25814902.0,1.576019,NaN
2005-01-01,2005-01-01,1.710913,378.907013,30710116.0,26623776.0,1.920013,NaN
2006-01-01,2006-01-01,1.742651,381.010010,31806176.0,27469824.0,2.102997,NaN
2007-01-01,2007-01-01,1.768192,382.603027,32238896.0,28202984.0,1.593018,NaN
2008-01-01,2008-01-01,1.799057,384.739014,33011596.0,28955332.0,2.135986,NaN
2009-01-01,2009-01-01,1.821010,386.280029,32906480.0,28561172.0,1.541016,NaN
2010-01-01,2010-01-01,1.854239,388.717041,34153104.0,29991372.0,2.437012,NaN
2011-01-01,2011-01-01,1.881501,390.944000,34232040.0,30978814.0,2.226959,NaN
2012-01-01,2012-01-01,1.910525,393.015991,34826688.0,31476576.0,2.071991,NaN
2013-01-01,2013-01-01,1.949882,395.724976,34985724.0,31507520.0,2.708984,NaN
2014-01-01,2014-01-01,1.977307,397.546967,35664264.0,31731480.0,1.821991,NaN

In [50]:
data = pd.read_csv(
    "Data/Export/AirPassengers.csv",
    encoding='ANSI')
data.rename(columns = {'Month' : 'Date', '#Passengers' : 'Passengers'}, inplace = True)
data.Date = pd.to_datetime(data.Date, format='%Y-%m')
data.head()

        Date  Passengers
0 1949-01-01         112
1 1949-02-01         118
2 1949-03-01         132
3 1949-04-01         129
4 1949-05-01         121

In [51]:
# extract month and year from dates
data['Month'] = [i.month for i in data['Date']]
data['Year'] = [i.year for i in data['Date']]

# create a sequence of numbers
data['Series'] = np.arange(1,len(data)+1)

# drop unnecessary columns and re-arrange
data.drop(['Date'], axis=1, inplace=True)
data = data[['Series', 'Year', 'Month', 'Passengers']]

# check the head of the dataset
data.head()

   Series  Year  Month  Passengers
0       1  1949      1         112
1       2  1949      2         118
2       3  1949      3         132
3       4  1949      4         129
4       5  1949      5         121

In [52]:
# split data into train-test set
train = data[data['Year'] < 1960]
test = data[data['Year'] >= 1960]

# check shape
train.shape, test.shape

((132, 4), (12, 4))

In [53]:
# initialize setup
s = setup(data = train, test_data = test, target = 'Passengers', fold_strategy = 'timeseries', numeric_features = ['Year', 'Series'], fold = 3, transform_target = True, session_id = 123)

In [54]:
best = compare_models(sort = 'MAE')

In [60]:
from pycaret.datasets import get_data
airline = get_data('airline')
from pycaret.time_series import *
exp_name = setup(data = airline,  fh = 12)
best_model = compare_models()

Period
1949-01    112.0
1949-02    118.0
1949-03    132.0
1949-04    129.0
1949-05    121.0
Freq: M, Name: Number of airline passengers, dtype: float64

In [ ]:
from sklearn import preprocessing

temp = df_hist_deg_c_mod.iloc[:,[1,3,4,5]]
temp.iloc[0] = temp.iloc[0].rolling(10).mean()
cols = temp.columns


min_max_scaler = preprocessing.MinMaxScaler()
np_scaled = min_max_scaler.fit_transform(temp)
df_normalized = pd.DataFrame(np_scaled, columns = cols)
df_normalized

df_normalized.plot();

In [ ]:
temp

In [ ]:
df_hist_deg_c_mod.iloc[:,[1,3,4,5]]

In [65]:
from pycaret.time_series import *
s = setup(data = df_hist_deg_c_mod.iloc[:,[1,3,4,5]], 
          target = 'Global Annual Average Anomaly (°C)', fh = 12
#          fold_strategy = 'timeseries', 
#          numeric_features = ['EARTH - CO2 (tot) (Gg/yr)','Year'], fold = 3, 
#          transform_target = True, session_id = 123
         )
best_model = compare_models()

In [64]:
df_hist_co2_ppm_mod

,Year,CO2 (W/m²),CO2 (ppm),EARTH - CO2 (tot) (Gg/yr),EARTH - CO2 (fuel) (Gg/yr),Change in CO2 (ppm)
Year,,,,,,
1752-01-01,1752-01-01,0.002832,277.229004,4.978762e+04,9.361233e+03,0.041016
1753-01-01,1753-01-01,0.004247,277.263000,6.983115e+04,9.361236e+03,0.033997
1754-01-01,1754-01-01,0.005662,277.303986,8.987847e+04,9.364905e+03,0.040985
1755-01-01,1755-01-01,0.007077,277.351013,1.099258e+05,9.368574e+03,0.047028
1756-01-01,1756-01-01,0.008491,277.389008,1.306347e+05,1.001392e+04,0.037994
...,...,...,...,...,...,...
2010-01-01,2010-01-01,1.854239,388.717041,3.415310e+07,2.999137e+07,2.437012
2011-01-01,2011-01-01,1.881501,390.944000,3.423204e+07,3.097881e+07,2.226959
2012-01-01,2012-01-01,1.910525,393.015991,3.482669e+07,3.147658e+07,2.071991
2013-01-01,2013-01-01,1.949882,395.724976,3.498572e+07,3.150752e+07,2.708984
2014-01-01,2014-01-01,1.977307,397.546967,3.566426e+07,3.173148e+07,1.821991

In [63]:
from pycaret.time_series import *
s = setup(data = df_hist_co2_ppm_mod.iloc[:,2:], 
          target = 'CO2 (ppm)', fh = 12
#          fold_strategy = 'timeseries', 
#          numeric_features = ['EARTH - CO2 (tot) (Gg/yr)','Year'], fold = 3, 
#          transform_target = True, session_id = 123
         )
best_model = compare_models()

In [ ]:
pd.set_option("display.max_rows", 1000)
data.info()

In [ ]:
import pycaret
print('PyCaret: %s' % pycaret.__version__)

In [ ]:
from pandas import read_csv
from pycaret.classification import setup
from pycaret.classification import compare_models
# define the location of the dataset
url = 'https://raw.githubusercontent.com/jbrownlee/Datasets/master/sonar.csv'
# load the dataset
df = read_csv(url, header=None)
# set column names as the column number
n_cols = df.shape[1]
df.columns = [str(i) for i in range(n_cols)]
# setup the dataset
grid = setup(
)
# evaluate models and compare models
best = compare_models()
# report the best model
print(best)

### Visualize the quantities of the data.

In [ ]:
# This is where I'll build those scary graphs that show the hockey stick curves
# and such.

## Preparing Data For Analysis

### Testing for bad data

## Frequency Distributions

# Building Models
It's finally time to build the classification models. I will fit each vectorization technique with the following models:
1. Multinomial Naive Bayes 
2. Logistic Regression
3. Support Vector Machine
4. RandomForest
5. XGBoost

I'll explain each of the models below in the same section in which they are created. Before I start, here's one last preview of the DataFrame I am about to model.

In [ ]:
# Time-Series Concentration of CO2 and NH4 based on emissions of the same.

## Final Model Selection

# Tuning Models

# Final Model And Analysis

# Conclusion

## Limitations of Scope / Provided Data

## Future Research Opportunities

## Recommendations

That's a wrap! Thanks for hiring Greg Osborne and I hope to work with you more in the future.